
.b-header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: $bg_header;
    .header-menu {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        .logo-img {
            .link-logo {
                width: 50%;
                .b-logo {
                    width: 100px;
                }
            }
        }
        .group-btn {
            .btn-item {
                padding: 0 10px;
                color: $cl_text;
                @include rem("font-size",14);
                @include rem("line-height",3);
                font-family: $ff_text;
                font-weight: bold;
                @include single-text-shadow (0px 1px 40px rgba(1, 1, 1, 0.55));
            }

        }
    }
}
