<section class="b-page-cusines">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h4 class="heading-title text-center">BROWSE BY CUISINES</h4>
            </div>
        </div>
        <div class="row">
            <div class="img-eat img-1">
                <p class="b-price">327 Recipes</p>
                <h2 class="eat-title">ITALIAN</h2>
            </div>
            <div class="img-eat img-2">
                <p class="b-price">327 Recipes</p>
                <h2 class="eat-title">ITALIAN</h2>
            </div>
            <div class="img-eat img-3">
                <p class="b-price">327 Recipes</p>
                <h2 class="eat-title">ITALIAN</h2>
            </div>
            <div class="img-eat img-4">
                <p class="b-price">327 Recipes</p>
                <h2 class="eat-title">ITALIAN</h2>
            </div>
            <div class="img-eat img-5">
                <p class="b-price">327 Recipes</p>
                <h2 class="eat-title">ITALIAN</h2>
            </div>

        </div>
        <div class="row">
            <div class="img-eat img-6">
                <p class="b-price">327 Recipes</p>
                <h2 class="eat-title">ITALIAN</h2>
            </div>
            <div class="img-eat img-7">
                <p class="b-price">327 Recipes</p>
                <h2 class="eat-title">ITALIAN</h2>
            </div>
            <div class="img-eat img-8">
                <p class="b-price">327 Recipes</p>
                <h2 class="eat-title">ITALIAN</h2>
            </div>
            <div class="img-eat img-9">
                <p class="b-price">327 Recipes</p>
                <h2 class="eat-title">ITALIAN</h2>
            </div>
            <div class="img-eat img-10">
                <p class="b-price">327 Recipes</p>
                <h2 class="eat-title">ITALIAN</h2>
            </div>
        </div>
        
    </div>
</section>