<section class="b-page-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="image-1">
                    <img src="/src/images/icon-eat.png" alt="" class="b-image"></div>
                    <h4 class="b-title">GETSPRIRED</h4>
                    <P class="b-text">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque
                        vel enim a elit viverra elementuma. Aliquam erat volutpat</P>
                </div>
                <div class="col-lg-4">
                    <div class="image-1">
                        <img src="/src/images/icon-eat.png" alt="" class="b-image"></div>

                        <h4 class="b-title">GET REWARDED</h4>
                        <P class="b-text">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque
                            vel enim a elit viverra elementuma. Aliquam erat volutpat</P>
                    </div>
                    <div class="col-lg-4">
                        <div class="image-1">
                            <img src="/src/images/icon-eat.png" alt="" class="b-image"></div>

                            <h4 class="b-title">GET SOCIAL</h4>
                            <P class="b-text">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque
                                vel enim a elit viverra elementuma. Aliquam erat volutpat</P>
                        </div>
                    </div>
                </div>
            </section>