<section class="b-page-slide">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="lazy-item-1 b-carousel text-center">
                    <div>
                        <div class="b-images">
                            <img
                                data-lazy="./images/slide_slick.png"
                                data-srcset="./images/slide_slick.png 650w, ./images/slide_slick.png 960w"
                                data-sizes="100vw"></div>
                            <div class="b-content">
                                <img src="./images/person.png" alt="" class="img-person">
                                    <p class="b-text">
                                        “I am so happy because I found this recipe, and it just made my life easier.
                                        Thanks so much for sharing!”

                                    </p>
                                    <p class="p-current">
                                        <span class="b-person">- Michael Dawson, San Francisco, CA -</span>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="b-images">
                                    <img
                                        data-lazy="./images/slide_slick.png"
                                        data-srcset="./images/slide_slick.png 650w, ./images/slide_slick.png 960w"
                                        data-sizes="100vw"></div>
                                    <div class="p-content">
                                        <img src="./images/person.png" alt="" class="img-person">
                                            <p class="p-text">
                                                “I am so happy because I found this recipe, and it just made my life easier.
                                                Thanks so much for sharing!”

                                            </p>
                                            <p class="b-current">
                                                <span class="b-person">- Michael Dawson, San Francisco, CA -</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="b-images">
                                            <img
                                                data-lazy="./images/slide_slick.png"
                                                data-srcset="./images/slide_slick.png 650w, ./images/slide_slick.png 960w"
                                                data-sizes="100vw"></div>
                                            <div class="b-content">
                                                <img src="./images/person.png" alt="" class="img-person">
                                                    <p class="b-text">
                                                        “I am so happy because I found this recipe, and it just made my life easier.
                                                        Thanks so much for sharing!”

                                                    </p>
                                                    <p class="b-current">
                                                        <span class="b-person">- Michael Dawson, San Francisco, CA -</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>