<header class="b-header-container" id="b-header-container">
  <div class="container">
      <div class="header-menu">
          <div class="logo-img">
              <a href="#" class="link-logo">
                  <img src="src/images/logo.png" alt="" class="b-logo"></a>
          </div>

              <div class="group-btn">
                  <a href="#" class="btn-item">LOG IN</a>
                  <a href="#" class="btn-item">SIGN UP</a>
                  <a href="#" class="btn-item">
                      <i class="fas fa-bars"></i>
                  </a>
              </div>
          </div>
      </div>
  </header>